<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,800" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheet.css" type="text/css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Ashish Magadum</title>
</head>

<body>
    <header>
        <p id="name">Ashish Magadum</p>
        <nav class="nav-container"
            hx-on:click="if (event.target.classList.contains('tab')) htmx.takeClass(event.target, 'active')">
            <div class="tab active" hx-get="static/about.html" hx-target="#main-content">About</div>
            <!-- <div class="tab" onclick="location.href='https://github.com/shonenash'">Portfolio</div> -->
            <div class="tab" hx-get="static/portfolio.html" hx-target="#main-content">Portfolio</div>
            <div class="tab" hx-get="static/blog.html" hx-target="#main-content">Blog</div>
            <div class="tab" hx-get="static/contact.html" hx-target="#main-content">Contact</div>
        </nav>
    </header>

    <section id="main-content" hx-get="static/about.html" hx-target="#main-content" hx-trigger="load">
    </section>

</body>

</html>